<div class="nested-fields form-horizontal ">

  <div class="col-md-6">
    <%= f.text_field :name, class: 'ever-inputs', placeholder: 'Name'%>
  </div>
  <div class="col-md-6 ">
    <%= f.text_field :level, class: 'ever-inputs', placeholder: 'Level' %>
    <%= link_to_remove_association 'remove', f, class: 'btn btn-danger btn-xs pull-right title' %>
  </div>

  <hr class="col-md-10 col-md-offset-1">

</div>