<div class="container">
  <div class="row">
    <% @resumes.each do |resume| %>
        <div class="col-md-3">
          <%= link_to image_tag(resume.avatar.url(:small), class: 'circular'), resume_url(resume) %>
          <h4><%= resume.name %></h4>
        </div>
    <% end %>
  </div>
</div>
